<div class="app-map-detail">

  <app-card [title]="title" type="success">
    <ul class="app-map-detail-body">
      <li>
        <strong>LatLng: </strong>
        <span>{{ location.latLng ? location.latLng[0] : "" }}</span>
        <span>{{ location.latLng ? location.latLng[1] : "" }}</span>
      </li>

      <li *ngIf="location.name">
        <strong>Name: </strong>
        <span>{{ location.name }}</span>
      </li>

      <li>
        <strong>Type: </strong>
        <span>{{ location.locType }}</span>
      </li>

      <li *ngIf="location.logo">
        <strong>Logo: </strong>
        <img [src]="location.logo">
      </li>
    </ul>
  </app-card>


  <div class="app-map-detail-buttons">
    <app-button title="Edit" type="warn"></app-button>
    <app-button title="Close" (click)="closePopup()"></app-button>
  </div>
</div>
