@import "sizes";

.app-base-input {
  display: flex;
  justify-content: space-between;

  margin-bottom: $small-space;

  .app-base-input-title {
    width: 100%;
    margin-top: $extra-small-space;

    font-size: $font-large;
    font-weight: 500;
  }

  .app-base-input-body {
    position: relative;

    width: clamp($min-size, 100%, $max-size);
  }
}
