$white: #ffffff;
$black: #000000;

$gray: #999999;
$dark-gray: #666666;

$light-blue: #5dbfde;
$dark-blue: #448bc9;
$darkest-blue: #1b78d2;

$primary-background-color: $white;

// Border
$primary-border-color: $dark-blue;
$secondary-border-color: $darkest-blue;
$placeholder-border-color: $gray;

// Text
$primary-text-color: $black;
$placeholder-text-color: $dark-gray;

// Button
$primary-button-color: $light-blue;
$secondary-button-color: $gray;
