// Buttons
$button-min-height: 3rem;
$button-min-with: 6rem;

// Spaces
$extra-extra-small-space: 0.25rem;
$extra-small-space: 0.5rem;
$small-space: 1rem;
$medium-space: 2rem;
$large-space: 3rem;

// Radiuses
$extra-small-radius: 0.25rem;
$small-radius: 0.5rem;

// Borders
$small-border: 1px;
$medium-border: 2px;

// Font size
$font-default: 16px;
$font-large: 1.25rem;

// Inputs
$input-height: 3rem;
